Pictures/*
Downloads/*
Documents/org/*
.lesshst
.asoundrc
SKK-JISYO.XL
.cache/*
.gnupg/*
.gnome/*
.local/*
.pki/*
.Xauthority
.Xdefaults
.zcompdump
.xmonad/*
.emacs.d/*
.ssh/*
.config/google-chrome/*
.config/fcitx/*
.config/dconf/*
.config/menus/*
.gitconfig
.mozc/*
.config/nvim/*
.zsh/histfile
!Documents/org/*.org
!.ssh/config
!.config/nvim/init.vim
!.emacs.d/inits/*
!.emacs.d/elisp/*
!.emacs.d/template.tex
!.emacs.d/init.el
!.xmonad/xmonad.hs
